@import url("Player.css");

.centre-card-red {
  flex: 0 0 3.125rem;
  background-color: #dc2626;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  font-weight: 600;
  font-size: medium;
  border-radius: 10px 10px 0 0;
}

.rotate {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
