.centre-card-green {
  flex: 0 0 3.125rem;
  background-color: #16a34a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  font-weight: 600;
  font-size: small;
}

#circle-green {
  position: absolute;
  padding: 4px;
  background:#16a34a;
  border: 2px solid white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  z-index: 999;
  top: 0%;
  right: 96%;
}