.player {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
}

.player-card {
  width: 13.75rem;
  height: 5rem;
  display: flex;
  --tw-bg-opacity: 1;
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
  color: white;
}

.centre-card {
  flex: 0 0 3.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  font-weight: 600;
}

.skill-card {
  flex: 0 0 5rem;
  --tw-bg-opacity: 1;
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}

img {
  object-fit: contain;
}

.skill {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.3em;
}

.row {
  display: flex;
  margin-bottom: 0.3em;
  justify-content: space-around;
}

.row p {
  font-size: small;
}

.skill-icon {
  width: 1.2em;
  height: 1.2em;
}

.empty {
  opacity: 0.6;
}

.weapon {
  margin-left: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-height: 5rem;
  max-width: 10rem;
}